<a href="https://colab.research.google.com/github/harshitbhandari23/Numpy-basics/blob/main/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
lst=[1,2,3,4]
pd.Series(lst)

0    1
1    2
2    3
3    4
dtype: int64

# using numpy array

In [ ]:
a=np.array([1,2,3,4])
pd.Series(a)

0    1
1    2
2    3
3    4
dtype: int64

# giving own index

In [ ]:
pd.Series(data=["sanchit","harshit","sarthak"],index=["first","second","third"])

first     sanchit
second    harshit
third     sarthak
dtype: object

In [ ]:
steps={"day1":4000,"day2":1200,"day3":45000}
pd.Series(steps)

day1     4000
day2     1200
day3    45000
dtype: int64

# using repeat function

In [ ]:
pd.Series(5).repeat(3)

0    5
0    5
0    5
dtype: int64

In [ ]:
pd.Series(5).repeat(3).reset_index(drop=True)

0    5
1    5
2    5
dtype: int64

In [ ]:
pd.Series([1,2]).repeat([1,5])

0    1
1    2
2    2
3    2
4    2
5    2
dtype: int64

# acessing elements of a series

In [ ]:
x=pd.Series([10,20]).repeat([5,2]).reset_index(drop=True)
x

0    10
1    10
2    10
3    10
4    10
5    20
6    20
dtype: int64

In [ ]:
x[6]

np.int64(20)

In [ ]:
x[0:5]

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [ ]:
x[2:5]

2    10
3    10
4    10
dtype: int64

In [ ]:
x[::-1]

6    20
5    20
4    10
3    10
2    10
1    10
0    10
dtype: int64

# aggregate function

In [ ]:
s=pd.Series([1,2,3,4])
s.agg(["min","max","mean","std","median"])

min       1.000000
max       4.000000
mean      2.500000
std       1.290994
median    2.500000
dtype: float64

# absolute func

In [ ]:
s1=pd.Series([-1,2,3,4])
s1.abs()

0    1
1    2
2    3
3    4
dtype: int64

# appending two series

In [ ]:
s1=pd.Series([-1,-2,-3,-4])
s2=pd.Series([0,1,2,3,4])
pd.concat([s1,s2]).reset_index(drop=True)

0   -1
1   -2
2   -3
3   -4
4    0
5    1
6    2
7    3
8    4
dtype: int64

# As type function

In [ ]:
s=pd.Series([1,2,3,4])
s.astype("str")

0    1
1    2
2    3
3    4
dtype: object

# between function

In [ ]:
s1=pd.Series([10,20,30,40,50])
s1.between(10,30)

0     True
1     True
2     True
3    False
4    False
dtype: bool

# i can use all string func in our series

In [ ]:
s=pd.Series(["sanchit","harshit","sarthak"])
s.str.upper()

0    SANCHIT
1    HARSHIT
2    SARTHAK
dtype: object

In [ ]:
s.str.lower()

0    sanchit
1    harshit
2    sarthak
dtype: object

In [ ]:
for i in s:
    print(len(i))

7
7
7

# strip function

In [ ]:
s2=pd.Series(["  harshit  ","Sanchit  ","sarthak  "])
s3=s2.str.strip()
for i in s3:
    print(len(i))

7
7
7

In [ ]:
pd.Series(["29/01/03","1/05/25"]).str.split("/")

0    [29, 01, 03]
1     [1, 05, 25]
dtype: object

# using contains function

In [ ]:
s=pd.Series(["@harshit","sanchit","sarthak"])
s.str.contains("@")

0     True
1    False
2    False
dtype: bool

# using replace function

In [ ]:
s.str.replace('@','')

0    harshit
1    sanchit
2    sarthak
dtype: object

# using count

In [ ]:
s.str.count("a")

0    1
1    1
2    2
dtype: int64

# using endwith and startwith

In [ ]:
s.str.endswith('s')

0    False
1    False
2    False
dtype: bool

In [ ]:
s.str.startswith('s')

0    False
1     True
2     True
dtype: bool

In [ ]:
s=pd.Series(["harshit","amitharshit","sarthak","hunny"])
s.str.find("harshit")

0    0
1    4
2   -1
3   -1
dtype: int64

# converting a series to list

In [ ]:
s.to_list()

['harshit', 'amitharshit', 'sarthak', 'hunny']